{embed="embeds/_head"}
{embed="embeds/_header"}
{exp:channel:entries channel="pages"}

{embed="embeds/_subnav"}

<div class="page-content contact">
	<div class="shell clearfix">
		<div class="grid">
			{if pages_image}
			<div id="page-image" class="grid__item one-whole">
				{exp:ce_img:single src="{pages_image}" max_width="1100" max_height="360" crop="yes" allow_scale_larger="no" quality="99"}
			</div>{/if}<!--
			--><div id="page-intro" class="grid__item seven-twelfths palm-one-whole" style="display: inline-block; margin-bottom: 0px;">
				<h2>Contact Us</h2>
				<form action="https://princeave.wufoo.com/forms/z5z718l054ue97/#public" autocomplete="off" class="wufoo topLabel page" enctype="multipart/form-data" id="form1" method="post" name="form1" novalidate="">
					<ul>
						<li class="notranslate" id="foli1">
							<span><label for="Field1">First Name</label> <input class="field text fn" id="Field1" name="Field1" size="8" tabindex="1" type="text" value="" /> </span> <span> <label for="Field2">Last Name</label> <input class="field text ln" id="Field2" name="Field2" size="14" tabindex="2" type="text" value="" /> </span></li>
						<li class="phone notranslate" id="foli4">
							<label class="desc" for="Field4" id="title4">Phone Number</label> <span> <input class="field text" id="Field4" maxlength="3" name="Field4" size="3" tabindex="3" type="tel" value="" /> <label for="Field4">###</label> </span> <span class="symbol">-</span> <span> <input class="field text" id="Field4-1" maxlength="3" name="Field4-1" size="3" tabindex="4" type="tel" value="" /> <label for="Field4-1">###</label> </span> <span class="symbol">-</span> <span> <input class="field text" id="Field4-2" maxlength="4" name="Field4-2" size="4" tabindex="5" type="tel" value="" /> <label for="Field4-2">####</label> </span></li>
						<li class="notranslate" id="foli3">
							<label class="desc" for="Field3" id="title3">Email</label>
							<div>
								<input class="field text medium" id="Field3" maxlength="255" name="Field3" spellcheck="false" tabindex="6" type="email" value="" /></div>
						</li>
						<li class="notranslate" id="foli5">
							<label class="desc" for="Field5" id="title5">Message</label>
							<div>
								<textarea class="field textarea medium" cols="50" id="Field5" name="Field5" onkeyup="" rows="10" spellcheck="true" tabindex="7"></textarea></div>
						</li>
						<li class="buttons ">
							<div>
								<input class="btTxt submit" id="saveForm" name="saveForm" type="submit" value="Send Message" /></div>
						</li>
						<li class="hide" style="display: none;">
							<label for="comment">Do Not Fill This Out</label><textarea cols="1" id="comment" name="comment" rows="1"></textarea><input id="idstamp" name="idstamp" type="hidden" value="2vd/K8rafwywurJaos9bHGu4Hil1hxgC1Mke2K0NFEw=" /></li>
					</ul>
				</form>
			</div><!--
		 --><div class="grid__item five-twelfths palm-one-whole">
		 		<div class="page-content">
		 			<div id="page-intro">
						{pages_bodycontent}
							{heading}
								{value}
							{/heading}
							{wysiwyg}
								{value}
							{/wysiwyg}
						{/pages_bodycontent}
		 			</div>
		 		</div>
			</div>
       </div>
	</div>
</div>
{/exp:channel:entries}

{embed="embeds/_footer"}