<!DOCTYPE html>
<html>
	<head>
		<title>{if embed:title}{embed:title} | {/if}PABC.org</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!--[if lt IE 9]>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.mmenu.min.all.js"></script>
		<script type="text/javascript" src="/assets/js/scripts.js"></script>

		<link type="text/css" rel="stylesheet" media="screen"  href="{exp:cache_buster file='/assets/css/pabc/master.min.css'}">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">